<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-button color="tertiary" (click)="goToHome()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <img [src]="imageBaseUrl + drink.id + '.jpg'" alt="drink">
    <ion-card-header>
      <ion-card-title> {{ drink.title }} </ion-card-title>
      <ion-card-subtitle> {{ drink.difficulty }} </ion-card-subtitle>
      <ion-text color="tertiary">
       test
      </ion-text>
    </ion-card-header>
    <ion-card-content>
      <ion-label color="medium">test</ion-label>

      <ion-item lines="none">
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label>test</ion-label>
      </ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>

